name: Sync Fork

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork with upstream
        uses: repo-sync/github-sync@v2
        with:
          source_repo: ET-Live/JioTV
          source_branch: main
          destination_branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
